@{
    ViewData["Title"] = "Home Page";
}


<div id="app" class="d-flex flex-column">
    <div>
        <article v-if="isLoaded" id="scroll">
            <section v-for="ingredient in ingredients" class="ingredients">
                <div class="ingredient-index">
                    <img class="ingredient-index-image" v-bind:src="ingredient.picture" />
                    <h3>{{ingredient.name}}</h3>
                </div>

            </section>
        </article>
        <div v-else class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>

@section scripts{
    <script>
var apiURL = 'https://localhost:44394/api/Ingredients';
var ingredients = new Vue({
el: '#app',
data: {
    ingredients: null,
    error: false,
    isLoaded : false,
},
    created: async function () {
        this.ingredients =  await this.getIngredients();
    },
methods: {
    getIngredients: async function () {
        let response = "";
        response = await axios.get(apiURL)
            .then(response => response)
            .catch(error => {
                console.log(error);
                this.error = true;
            })
            .finally(() => { this.isLoaded = true; })
        if (this.error == false) {
            return response.data;
        }
    }
}
});
    </script>
}