<div id="app" class="d-flax flex-column">
    <div v-if="error" class="alert alert-danger w-25" role="alert">
        <p class="text-danger" v-for="error in userMessage">{{error[0]}}</p>
    </div>
    <div v-if="succes" class="alert alert-success w-25" role="alert">
        <p class="text-success">{{userMessage}}</p>
    </div>
    <form v-on:submit.prevent="createGlassType" enctype="multipart/form-data" class="col col-lg-7 mx-auto background p-5">
        <h1>Create glass type</h1>
        <div class="form-group">
            <label>Name:</label>
            <input v-model="glassTypeName" class="form-control" type="text">
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input ref="image" type="file" class="form-control">
            <span class="text-danger"></span>
        </div>
        <div class="btn-group mt-4 w-100" role="group" aria-label="button group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>

</div>

@section scripts{
    <script>
        var glassTypesApiURL = 'https://localhost:44394/api/GlassTypes/';
        var token = localStorage.getItem("token");
        var axiosConfig = {
            headers: { Authorization: `Bearer ${token}`}
        };
        var app = new Vue({
            el: "#app",
            data: {                
                error: false,
                succes: false,
                errors: null,
                userMessage: "",
                succesMessage :"",
                glassTypeName:"",
            },
            created: async function () {
                if (token == null) {
                    window.location.href = "/account/login";
                }
            },
            methods: {
                createGlassType: async function () {
                    this.error = false;
                    this.succes = false;
                    let formData = new FormData();

                    formData.append("name", this.glassTypeName);

                    let image = this.$refs.image.files[0] == "undefined" ? null : this.$refs.image.files[0];
                    formData.append("Picture",image);
                    await axios.post(glassTypesApiURL, formData, axiosConfig)
                        .then(response => response)
                        .catch(error => {
                            this.error = true;
                            this.errors = error;
                        })                   

                    if (this.error == false) {
                        this.succes = true;
                        this.userMessage = "GlassType added succefully!!"
                    } else {
                        this.userMessage = this.errors.response.data.errors;
                    }

                }

            }

        })

    </script>
}