<div id="app">
    <div class="alert alert-danger text-danger text-center w-50 border-danger border-2" role="alert">
        <div>
            <h1 class="text-danger">Acces denied</h1>
            <p>No permission!!</p>
        </div>
    </div>
</div>